<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="title">
        <span>{{title}}</span>
      </span>
      <span class="controls">
        <form [formGroup]="controls">
          <mat-form-field class="surveyOption">
            <mat-label>Survey</mat-label>
            <mat-select formControlName="survey">
              <mat-option *ngFor="let survey of surveys" [value]="survey.id">
                {{survey.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="slideOption">
            <mat-label>Slide</mat-label>
            <mat-select formControlName="slide">
              <mat-option *ngFor="let slide of slides; index as i;" [value]="slide.id">
                {{i+1}}) {{slide.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </span>

    </mat-toolbar-row>
</mat-toolbar>